@charset "UTF-8";

/*
     Paleta de cores
     verde: #49a09d
     Lilas: #5f2c82
*/

* {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
}

body, html {
     background-color: #5f2c82;
     height: 100vh;
     width: 100vw;
}

main {
     position: relative;
     height: 100vh;
     width: 100vw;
}

section#login {
     position: absolute;
     top: 50%;
     left: 50%;
     overflow: hidden;

    



     background-color: white;
     width: 250px;
     height: 500px;
     border-radius: 20px;
     box-shadow: 0px 0px 10px rgb(0, 0, 0);

     transition: width 0.3s, heigth 0.3s;
     transition-timing-function: ease;
     transform: translate(-50%, -50%);
}

section#login>div#imagem {
     background: #5f2c82 url(../imagens/tela.jpg);
     background-position: left bottom;
     background-size: cover;
     background-repeat: no-repeat;
     height: 200px;
     display: block;
}

section#login div#formulario {
     padding: 10px;
     display: block;

}

div#formulario {
     text-align: center;
     margin-bottom: 10px;
}

div#formulario>p {
     font-size: 0.8em;
}

div.campo > input:focus-within {
     background-color: white;
}

form div.campo {
     background-color: #5f2c82;
     border: 2px solid rgb(16, 219, 175);
     display: block;
     width: 100%;
     height: 40px;
     border-radius: 5px;
     margin: 8px 0px;
}

div.campo > label {
     display: none;
}

div.campo > span {
     color: white;
     font-size: 2em;
     width: 40px;
     padding: 5px;
}

div.campo > input {
     background-color: #65e7e3;
     font-size: 1em;
     width: calc(100% - 44%) ;
     
     height: 100%;
     border-radius: 8px;
     padding: 4px;
     transform: translateY(-12px);
}

form>input[type=submit] {
     display: block;
     font-size: 1em;
     width: 100%;
     height: 30px;
     background-color: aqua;
     color: rgb(255, 255, 255);
     border: none;
     border-radius: 5px;
     cursor: pointer;

}

form>input[type=submit]:hover {
     background-color: rgb(9, 17, 15);
}

form>a.botao {
     padding-top: 3px;
     margin-top: 5px;
     display: block;
     text-align: center;
     font-size: 1em;
     width: 100%;
     height: 30px;
     background-color: #49a09d;
     color: #fdfdfd;
     border: 1px solid rgb(31, 158, 120);
     border-radius: 5px;
     text-decoration: none;
}

form > a.botao:hover {
     background-color: #050c0c;
}

form>a.botao>span {
     font-size: 0.8em;
}